<div class="container" style="width :auto">
  <form action="/restaurant/{{restaurants._id}}?_method=PUT" method="POST" class="row g-3 my-2">
    <div class="row">
      <div class="col-md-6">
        <label class="form-label">餐廳名稱</label>
        <input type="text" class="form-control" name="name" value="{{restaurants.name}}" required>
      </div>
      <div class="col-md-6">
        <label class="form-label">餐廳英文名稱</label>
        <input type="text" class="form-control" name="name_en" value="{{restaurants.name_en}}">
      </div>
      <div class="col-6">
        <label class="form-label">地址</label>
        <input type="text" class="form-control" name="location" value="{{restaurants.location}}">
      </div>
      <div class="col-md-6">
        <label class="form-label">餐廳類別</label>
        <input type="text" class="form-control" name="category" value="{{restaurants.category}}">
      </div>
      <div class="col-md-6">
        <label class="form-label">照片</label>
        <input type="Url" class="form-control" name="image" value="{{restaurants.image}}">
      </div>
      <div class="col-md-6">
        <label class="form-label">電話</label>
        <input type="text" class="form-control" name="phone" value="{{restaurants.phone}}">
      </div>
      <div class="col-md-6">
        <label class="form-label">google_map</label>
        <input type="Url" class="form-control" name="google_map" value="{{restaurants.google_map}}">
      </div>
      <div class="col-md-6">
        <label class="form-label">介紹</label>
        <input type="text" class="form-control" name="description" value="{{restaurants.description}}">
      </div>
      <div class="col-md-6">
        <label class="form-label">評分</label>
        <input type="number" step="0.1" class="form-control" name="rating" value="{{restaurants.rating}}">
      </div>
    </div>
    <div class="row my-2">
      <div class="col-md-6">
        <button class="btn btn-major " type="submit" id="save-button">
          Save
        </button>
      </div>
      <div class="col-md-6">
        <a href="/">
          <button class="btn btn-major" id="back-button">
            Back
          </button>
        </a>
      </div>
    </div>
  </form>
</div>